<div class="container mt-5">
    <h4>Internal Server Error. Please refresh the page to resove the error.</h4>
    <ng-container *ngIf="error">
        <h5 class="text-danger">Error: {{error.message}}</h5>
        <p class="font-weight-bold">Note: if you are seeing this than Angular is probably not responsible for this error.</p>
        <p>What to do nest?</p>
        <ol>
            <li>Open browser dev tools</li>
            <li>Inspect the network tab</li>
            <li>Check the failing request</li>
            <li>Make sure that entered URL is correct</li>
            <li>Reproduce the error in postman</li>
        </ol>
        <p>Bellow is the stack trace - this is where investigation should start!</p>
        <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
    </ng-container>
    
</div>
