<div class="white-text-container_background-image-container"
    style="background-image: url('assets/images/img-home.jpg')">
    <div class="opacity"></div>
    <div class="container-2">
        <div class="row">

            <div class="col-md-5">
                <h1 style="color: white; text-shadow: 0 1px 3px #000;">Natural Artisan Soap</h1>
                <p style="color: #fff; text-shadow: 0 1px 3px #000; font-size: 18px">Our delicate, Vegan, SLS, Parabens and Phthalates Free Handcrafted Soaps have been enhanced with the
                    finest oils and butters to create products rich in antioxidants, nutrients and vitamins that are
                    essential to healthy skin. </p>
                <a href="./shop" title="" class="btn btn-lg btn-primary">Shop Valentine's Day Collection</a>
            </div>

        </div>
    </div>
</div>



<div class="section-container_border-section-container">
    <div class="container-2">
        <div class="row">
            <div class="col-md-12 section-container-spacer">
                <div class="text-center">
                    <h2>Our Values</h2>
                    <p>Here at YumSoap we adhere to a high standard of crafting natural products.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="fa-container">
                    <i class="fa fa-bath fa-3x" aria-hidden="true"></i>
                </div>
                <div class="text-center">
                    <h3>Free of Toxic Chemicals</h3>
                </div>
                <div>
                    <p>Our products are free of Parabens (known as estrogen mimickers and hormone disruptors), Sulfates
                        (irritants of the skin, eyes, and lungs, toxicants known to cause organ system damage) &amp;
                        Phthalates (toxicants known to cause damage to the the liver, kidneys, lungs, and reproductive
                        system).</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fa-container">
                    <i class="fa fa-heartbeat fa-3x" aria-hidden="true"></i>
                </div>
                <div class="text-center">
                    <h3>Cruelty Free and Vegan</h3>
                </div>
                <div>
                    <p>YumSoap is 100% cruelty-free and not tested on animals. We use no ingredients of animal origin.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fa-container">
                    <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
                </div>
                <div class="text-center">
                    <h3>Eco-Friendly</h3>
                </div>
                <div>
                    <p>Our products are made using Sustainable Ingredients and our packaging is Biodegradable or
                        Recyclable.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- <carousel>
    <slide>
        <img src="assets/images/img-02.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/img-03.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/img-07.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
</carousel> -->


<div class="section-container background-color-container white-text-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-container-spacer">
                <div class="text-center">
                    <h2>Seasonal Deals and Sales</h2>
                    <p> For more information click the link below. </p>
                    <a href="/shop" title="" class="btn btn-primary btn-lg">Shop Our Sales</a>
                </div>
            </div>
        </div>
     </div>
 </div>

 <footer>
    <div class="section-container footer-container">
        <div class="container">
            <div class="row">
                    <div class="col-md-4">
                        <h4>About us</h4>
                        <p>Handcrafted Body Care Products created with <i class="fa fa-heart-o" aria-hidden="true"></i> in WA, USA</p>
                    </div>

                    <div class="col-md-4">
                        <h4>Lets stay in touch</h4>
                        <p>
                            <a href="https://www.etsy.com/shop/YumSoapCo?ref=simple-shop-header-name&amp;listing_id=9304098428" class="social-round-icon white-round-icon fa-icon" title="">
                            <i class="fa fa-etsy" aria-hidden="true"></i>
                          </a>
                          <a href="https://twitter.com/" class="social-round-icon white-round-icon fa-icon" title="">
                            <i class="fa fa-amazon" aria-hidden="true"></i>
                          </a>
                          <a href="https://www.facebook.com/YumSoap-101208108615128" class="social-round-icon white-round-icon fa-icon" title="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                          </a>
                          <a href="https://www.linkedin.com/" class="social-round-icon white-round-icon fa-icon" title="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                          </a>
                          
                          <a href="https://www.linkedin.com/" class="social-round-icon white-round-icon fa-icon" title="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                          </a>
                        </p>
                    </div>

                    <div class="col-md-4">
                        <h4>Subscribe to newsletter</h4>
                        
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control footer-input-text">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary btn-newsletter ">OK</button>
                                </div>
                            </div>
                        </div>


                    </div>
            </div>
        </div>
    </div>
</footer>

